<div class="card shadow-sm animate__animated animate__fadeIn">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Product List</h5>

    <app-search (searchChange)="onSearch($event)"></app-search>

    <button class="btn btn-primary">
      <i class="bi bi-box-fill me-2"></i> Add Product
    </button>
  </div>

  <div class="card-body">
    <div *ngIf="loading" class="text-center">Loading...</div>
    <table class="table table-hover" *ngIf="!loading">
      <thead class="table-light text">
        <tr>
          <th>#</th>
          <th>Image</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Description</th>
          <th>Category</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let product of filteredProduct; let i = index"
          class="animate__animated animate__fadeInUp"
          [ngStyle]="{ 'animation-delay': i * 0.1 + 's' }"
        >
          <td>{{ i + 1 }}</td>
          <td>
            <img
              [src]="'http://localhost:5000' + product.image"
              width="50"
              height="50"
              style="object-fit: cover; border-radius: 5px"
            />
          </td>
          <td>{{ product.productName }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.description }}</td>
          <!-- <td>{{ product.category.categoryName }}</td> -->
          <td>
            {{
              product.category && typeof product.category !== 'string'
                ? product.category.categoryName
                : 'N/A'
            }}
          </td>
          <td>{{ product.createdAt | date: 'short' }}</td>
          <td>{{ product.updatedAt | date: 'short' }}</td>
          <td>
            <span class="badge" [ngClass]="product.status ? 'bg-success' : 'bg-secondary'">
              {{ product.status ? 'Active' : 'Inactive' }}
            </span>
          </td>
          <td>
            <button class="btn btn-sm btn-warning me-3">
              <i class="bi bi-pencil-fill me-2"></i> Edit
            </button>

            <button class="btn btn-sm btn-danger">
              <i class="bi bi-trash-fill me-2"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="!loading && filteredProduct.length === 0" class="text-center text-danger">
      No Product Found
    </div>
  </div>

  <div class="d-flex justify-content-end me-3">
    <app-pagination
      [totalItems]="filteredProduct.length"
      [pageSize]="pageSize"
      [currentPage]="currentPage"
      (pageChange)="onPageChange($event)"
    >
    </app-pagination>
  </div>
</div>
