<div class="card shadow-sm animate__animated animate__fadeIn">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">User List</h5>

    <input type="search" name="" id="" />

    <button class="btn btn-primary" (click)="openAddForm()">
      <i class="bi bi-person-plus-fill me-2"></i> Add User
    </button>
  </div>

  <div class="card-body">
    <!-- Loading -->
    <div *ngIf="loading" class="text-center">Loading...</div>
    <table class="table table-hover" *ngIf="!loading">
      <thead class="table-light text">
        <tr>
          <th>#</th>
          <th>Avatar</th>
          <th>Full Name</th>
          <th>Email Address</th>
          <th>Role</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Status</th>
          <th class="">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let user of users; let i = index"
          class="animate__animated animate__fadeInUp"
          [ngStyle]="{ 'animation-delay': i * 0.1 + 's' }"
        >
          <td>{{ i + 1 }}</td>
          <td><app-avatar [fullName]="user.fullname"></app-avatar></td>
          <td>{{ user.fullname }}</td>
          <td>{{ user.email }}</td>
          <td>
            <span class="badge" [ngClass]="user.role === 'Admin' ? 'bg-danger' : 'bg-light text-muted border'">
              {{ user.role }}
            </span>
          </td>
          <td>{{ user.createdAt | date: 'short' }}</td>
          <td>{{ user.updatedAt | date: 'short' }}</td>
          <td>
            <span
              class="badge"
              [ngClass]="user.status ? 'bg-success' : 'bg-secondary'"
            >
              {{ user.status ? 'Active' : 'Inactive' }}
            </span>
          </td>

          <td class="">
            <button class="btn btn-sm btn-warning me-3" (click)="openEditForm(user)">
              <i class="bi bi-pencil-fill me-2"></i> Edit
            </button>

            <button class="btn btn-sm btn-danger">
              <i class="bi bi-trash-fill me-2"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Empty -->
    <div *ngIf="!loading && users.length === 0" class="text-center text-muted">No users found</div>
  </div>
</div>

<ng-container *ngIf="showModal" class="animate__animated animate__fadeInUp">
  <div class="modal fade show d-block">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ selectedUser ? 'Edit User' : 'Add User' }}</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <app-user-form [user]="selectedUser" (close)="closeModal($event)"></app-user-form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
</ng-container>
